# Changelog is autogenerate, doesn't make sense to prettier it.
CHANGELOG.md

# Ignore the same files from .gitignore as well
.next
.vercel
build
coverage
cypress/screenshots
cypress/videos
lib
node_modules
.DS_Store
npm-debug.log*
tsconfig.tsbuildinfo
yarn-debug.log*
yarn-error.log*