@media only screen and (max-width: 1024px) {
  .collapse.collapsed {
    display: none;
  }
}

.highlight {
  @apply overflow-hidden;
}

#mainContent > hr,
#mainContent > div > hr {
  @apply my-8 border-gray-200 dark:border-gray-700;
}

#mainContent > h1,
#mainContent > div > h1 {
  @apply mb-2 inline-block w-full text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white;
}

#mainContent > h2,
#mainContent > div > h2 {
  @apply relative mb-4 mt-8 text-2xl font-bold leading-tight text-gray-900 dark:text-white;
}

#mainContent > h3,
#mainContent > div > h3 {
  @apply relative mb-4 mt-8 text-xl font-bold leading-tight text-gray-900 dark:text-white;
}

#mainContent > h4,
#mainContent > div > h4 {
  @apply relative mb-4 mt-8 text-lg font-bold text-gray-900 dark:text-white;
}

#mainContent > p,
#mainContent > div > p {
  @apply /*text-gray-600 dark:text-gray-400*/ mb-4 text-base font-normal;
}

#mainContent > p > a,
#mainContent > div > p > a,
#mainContent > ul > li > a,
#mainContent > div > ul > li > a,
#mainContent > ol > li > a,
#mainContent > div > ol > li > a {
  @apply font-medium text-gray-900 underline decoration-cyan-700 decoration-1 underline-offset-2 dark:text-white dark:decoration-cyan-700;
}

#mainContent > p > code,
#mainContent > ul > li > code,
#mainContent > ol > li > code {
  @apply break-all px-1 font-mono text-sm text-primary-600 dark:text-primary-400;
}

#mainContent > p > a:hover,
#mainContent > div > p > a:hover,
#mainContent > ul > li > a:hover,
#mainContent > div > ul > li > a:hover,
#mainContent > ol > li > a:hover,
#mainContent > div > ol > li > a:hover {
  @apply /*text-gray-900*/ decoration-2 dark:text-white;
}

#mainContent > ul,
#mainContent > div > ul {
  @apply list-disc;
}

#mainContent > ol,
#mainContent > div > ol {
  @apply list-decimal;
}

#mainContent p > strong {
  @apply text-gray-900 dark:text-white;
}

#mainContent > ul,
#mainContent > div > ul,
#mainContent > ol,
#mainContent > div > ol {
  @apply mb-4 pl-4;
}

#mainContent > ul > li,
#mainContent > div > ul > li,
#mainContent > ol > li,
#mainContent > div > ol > li {
  @apply text-base font-normal text-gray-600 dark:text-gray-400;
}

/* prism styles */

code[class*='language-'],
pre[class*='language-'] {
  color: #c5c8c6;
  @apply text-gray-800 dark:text-gray-400;
  font-family: Menlo, ui-monospace, SFMono-Regular, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  text-shadow: none;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  @apply my-6 rounded-lg text-sm font-normal;
}

/* without preview */
.highlight pre[class*='language-'] {
  overflow: auto;
  @apply m-0 mb-8 mt-4 rounded-xl bg-gray-50 p-6 pt-6 text-sm dark:bg-gray-800;
}

/* when after preview */
.code-preview-wrapper
  + .code-syntax-wrapper
  > .code-syntax
  > .relative
  > [data-code-wrapper]
  > .highlight
  pre[class*='language-'],
.code-preview-wrapper + .code-syntax-wrapper > .code-syntax {
  overflow: auto;
  @apply mt-0 rounded-none;
}

.code-preview-wrapper + .code-syntax-wrapper {
  @apply mb-4;
}

.code-preview-wrapper
  + .code-syntax-wrapper
  > .code-syntax
  > .relative
  > [data-code-wrapper]
  > .highlight
  > pre[class*='language-'] {
  @apply m-0 bg-gray-50 p-4 dark:bg-gray-800;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  @apply bg-gray-50 dark:bg-gray-800;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-800 dark:text-gray-400;
}

.token.punctuation {
  @apply text-gray-800 dark:text-gray-400;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.keyword,
.token.tag {
  @apply text-orange-900 dark:text-orange-500;
}

.token.class-name {
  color: #ffffb6;
  text-decoration: underline;
}

.token.boolean,
.token.constant {
  @apply text-green-600 dark:text-green-500;
}

.token.symbol,
.token.deleted {
  @apply text-red-500 dark:text-red-400;
}

.token.number {
  @apply text-pink-500 dark:text-pink-400;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-red-500 dark:text-red-400;
}

.token.variable {
  @apply text-purple-500 dark:text-purple-400;
}

.token.operator {
  @apply text-gray-500 dark:bg-gray-800 dark:text-gray-400;
}

.token.entity {
  @apply text-yellow-400 dark:text-yellow-300;
  cursor: help;
}

.token.url {
  @apply text-cyan-600 dark:text-cyan-500;
}

.language-css .token.string,
.style .token.string {
  @apply text-red-500 dark:text-red-400;
}

.token.atrule,
.token.attr-value {
  @apply text-cyan-600 dark:text-cyan-500;
}

.token.function {
  /* color: #dad085; */
  @apply text-slate-600 dark:text-slate-400;
}

.token.regex {
  color: #e9c062;
}

.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

code.language-bash,
pre.language-bash {
  @apply text-cyan-600 dark:text-cyan-400;
}

code.language-tsx {
  @apply text-cyan-600 dark:text-cyan-400;
}

code.language-tsx .token.function {
  @apply text-green-500 dark:text-green-300;
}

code.language-tsx .token.punctuation {
  @apply text-gray-500 dark:text-gray-400;
}

code.language-tsx .token.keyword {
  @apply text-pink-500 dark:text-pink-400;
}

code.language-tsx .token.comment {
  @apply text-gray-500 dark:text-gray-500;
}

code.language-tsx .token.string {
  @apply text-purple-600 dark:text-purple-400;
}

code.language-tsx .token.class-name {
  @apply text-orange-400 dark:text-orange-300;
}

code.language-tsx .token {
  /* @apply text-blue-900 dark:text-blue-500; */
  background: transparent;
}

/* language html */
code.language-html .token.tag {
  @apply text-fuchsia-700 dark:text-fuchsia-400;
}
code.language-html .token.attr-name {
  @apply text-gray-600 dark:text-gray-400;
}
code.language-html .token.attr-value {
  @apply text-cyan-600 dark:text-cyan-400;
}
code.language-html .token.punctuation {
  @apply text-gray-400 dark:text-gray-500;
}
code.language-html .token.attr-name {
  @apply text-green-600 dark:text-green-400;
}
code.language-html .token.comment {
  @apply text-gray-400 dark:text-gray-500;
}

.code-responsive-wrapper {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d1d5db' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.dark .code-responsive-wrapper {
  background-color: #111827;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%236b7280' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#carbonads * {
  margin: initial;
  padding: initial;
}
#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
  @apply m-0;
}
#carbonads {
  display: flex;
  max-width: 330px;
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
  z-index: 100;
  @apply bg-white dark:bg-gray-800 dark:text-white;
}
#carbonads a {
  color: inherit;
  text-decoration: none;
}
#carbonads a:hover {
  color: inherit;
}
#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}
#carbonads .carbon-wrap {
  display: flex;
}
#carbonads .carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}
#carbonads .carbon-img img {
  display: block;
}
#carbonads .carbon-text {
  font-size: 13px;
  padding: 10px;
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: left;
}
#carbonads .carbon-poweredby {
  @apply bg-gray-100 dark:bg-gray-800;
  display: block;
  padding: 6px 8px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  /* border-left-radius: 3px; */
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Search */

.DocSearch-Button {
  @apply m-0 hidden h-auto w-52 rounded-lg border border-solid border-gray-300 !bg-gray-50 p-2 shadow-none hover:!bg-gray-100 hover:shadow-none focus:shadow-none dark:!border-gray-600 dark:!bg-gray-700 dark:hover:!bg-gray-600 xl:flex xl:w-64;
}

.DocSearch-Button-Placeholder {
  @apply text-sm font-normal text-gray-500 dark:text-gray-400;
}

.DocSearch-Search-Icon {
  @apply h-3 w-3 text-gray-500 dark:text-gray-400 md:mr-1;
}

.DocSearch-Button-Keys {
  @apply min-w-0 items-center;
}

.DocSearch-Button-Key {
  @apply m-0 w-auto bg-none pb-0 pt-1 text-xs font-normal text-gray-500 shadow-none dark:text-gray-400;
}

.DocSearch-Button .DocSearch-Search-Icon {
  @apply text-gray-500;
}

.DocSearch-Hit-icon {
  @apply hidden;
}

.DocSearch-Hits mark {
  @apply text-cyan-600 decoration-cyan-600 decoration-2 underline-offset-2 dark:text-white dark:decoration-white;
}

.DocSearch-Hit[aria-selected='true'] a {
  @apply bg-cyan-700 dark:bg-cyan-600;
}

.DocSearch-Hit-source {
  @apply bg-white pb-1 text-gray-700 dark:bg-gray-700 dark:text-gray-400;
}

.DocSearch-Container {
  @apply bg-gray-900 bg-opacity-50 dark:bg-opacity-80;
}

.DocSearch-Modal {
  @apply shadow-none dark:bg-gray-700;
}

.DocSearch-SearchBar {
  @apply border-b border-gray-100 p-0 dark:border-gray-600;
}

.DocSearch-Form {
  @apply shadow-none dark:bg-gray-700;
}

.DocSearch-Input {
  @apply text-sm text-gray-500 shadow-none focus:shadow-none focus:!outline-none focus:!ring-0 dark:bg-gray-700 dark:text-white;
}

.DocSearch-LoadingIndicator svg,
.DocSearch-MagnifierLabel svg {
  @apply h-4 w-4;
}

.DocSearch-Commands {
  @apply hidden;
}

.DocSearch-Footer {
  @apply h-12 border-t border-gray-100 shadow-none dark:border-gray-600 dark:bg-gray-700;
}

.DocSearch-Dropdown {
  @apply bg-white dark:bg-gray-700;
}

.DocSearch-Hit {
  @apply pb-2 shadow-none;
}

.DocSearch-Hit a {
  @apply rounded-lg bg-gray-50 shadow-none dark:bg-gray-600 dark:hover:bg-cyan-600;
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-Select-Icon,
.DocSearch-Hit-action-button {
  @apply hidden;
}

.DocSearch-Hit .DocSearch-Hit-action:last-child {
  @apply h-5 w-5;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 9 3 3-3 3' stroke='%23475569' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-action:last-child {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 9 3 3-3 3' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.DocSearch-Screen-Icon,
.DocSearch-NoResults-Prefill-List,
.DocSearch-Cancel {
  @apply hidden;
}

.DocSearch-Title {
  @apply mb-1 text-lg font-normal text-gray-700 dark:text-gray-200;
}

.DocSearch-Hit-Container {
  @apply dark:text-gray-300;
}

.DocSearch-Logo svg {
  @apply dark:!text-gray-400;
}

.DocSearch-Reset {
  @apply hover:text-black dark:text-gray-300 dark:hover:text-white;
}

.formkit-alert.formkit-alert-success {
  @apply mb-4 rounded-lg bg-green-100 p-4 text-sm font-medium text-green-700 dark:bg-gray-800 dark:text-green-400;
}

.formkit-alert.formkit-alert-error:not(:empty) {
  @apply mb-4 rounded-lg bg-red-100 p-4 text-sm text-red-700 dark:bg-gray-800 dark:text-red-400;
}
